/*-------------------------------------
	FLEX SLIDER
-------------------------------------*/

/* -- sliders Styling -- */

/* -- Browser Resets (Don't Edit) -- */

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0; 
	padding: 0; 
	list-style: none;
}

/* FlexSlider Necessary Styles (Don't Edit)
---------------------------------*/

.flexslider {
	margin: 0; 
	padding: 0;
}
	
.flexslider .slides > li {
	display: none; 
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
	max-width: 100%; 
	display: block;
}
	
.flex-pauseplay span {
	text-transform: capitalize;
	display: none;
}

/* Clearfix for the .slides element */
.slides:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
}
	
html[xmlns] .slides {display: block;}

* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme (Don't Edit)
---------------------------------*/
.flexslider {
 	position: relative; 
 	zoom: 1;
}
	
.flexslider .slides { zoom: 1; }

.flexslider .slides > li { position: relative; }

.flex-container {
	zoom: 1; 
	position: relative;
}

.flexslider  ul.slides{
	background: black;
}
	
.sliders { position: relative; }

/* sliders Loader */

ul.slides.loading, 
.slidersloader {
	color:#000;
	background: url(assets/images/loader2.gif) 50% 50% no-repeat ;
	position: relative; 
	width: 100%; 
	height: 300px;
	line-height: 50px;
	text-align: center;
	}

.loaded { background: none; }

/* -- Slider -- */

.vendeirinho-slider ul.slides.loading {
 	height: 380px;
 }

.with-sidebar .vendeirinho-slider ul.slides.loading {
	height: 300px ;
}

.vendeirinho-slider {	
	zoom: 1;
	/* Don't remove these */
	width: 100%; 
	margin: 0 auto 20px auto;
	padding: 0;
	float: left;
}
	
.vendeirinho-slider .slides { zoom: 1; }
.vendeirinho-slider .slides > li {
	display: none; /* Hide the slides before the JS is loaded. Avoids image jumping  (important)*/
	position: relative;
}
		
.vendeirinho-slider .slides img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	background: transparent;
}

/* Navigation Links */

.vendeirinho-slider .flex-control-nav {
    bottom: 18px;
    display: block !important;
    left: 0 !important;
    outline: 0 none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.vendeirinho-slider .flex-control-nav li {
    display: block;
    float: left;
    width: 15%;
    z-index: 99;
}

.vendeirinho-slider .flex-control-nav li a {
    background-color: #EAECEF;
    cursor: pointer;
    float: left;
    height: 9px;
    outline: 0 none;
    overflow: hidden;
    text-indent: -9999px;
    width: 100%;
}

.vendeirinho-slider .flex-control-nav li a:hover, .vendeirinho-slider .flex-control-nav li a.active {
    background-color: #78a8d5;
}

 /* Directional Control */
.vendeirinho-slider .flex-direction-nav li {
 	float:left;
 	margin:0px 1px;
 	list-style:none;
 	padding: 0;
 }
 
.vendeirinho-slider .flex-direction-nav li a {
	 width: 28px;
	 height: 28px;
	 margin: 0;
	 display: block;
	 position: absolute;
	 bottom: 50%;
	 cursor: pointer;
	 text-indent: -9999px;
}
 	
.vendeirinho-slider .flex-direction-nav .prev, .vendeirinho-slider .flex-direction-nav .next {
    background: url("../images/slider-nav.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 38px;
    opacity: 0;
    text-indent: -9999em;
    width: 38px;
    z-index: 99;
}

.vendeirinho-slider .flex-direction-nav .prev {
    left: -9px;
}

.vendeirinho-slider .flex-direction-nav .next {
    background-position: -36px 0;
    right: -7px;
}

.vendeirinho-slider .flex-direction-nav .next:hover, .vendeirinho-slider .flex-direction-nav .prev:hover {
    opacity: 1;
}

.vendeirinho-slider.no-nav.no-pagi {
    padding: 0;
}

/* -- Pause & Play -- */

.vendeirinho-slider .flex-pauseplay { 
	position: absolute; 
	left: 475px;
	z-index: 99;
	display: none;
}
	
.vendeirinho-slider .flex-pauseplay span {
	background-image: url(assets/images/home-slider-btn.png);
	background-repeat: no-repeat;
	opacity: 0; 
	filter: alpha(opacity=0); 
	display: block; 
	width: 40px; 
	height: 39px;
	text-indent: -9999em; 
	background-position: -60px 0;
	cursor: pointer; 
}

.vendeirinho-slider .flex-pauseplay span:hover {
	background-position: -60px 100%;
}

.vendeirinho-slider .flex-pauseplay span.pause { 
	background-position: -100px 0;
}

.vendeirinho-slider .flex-pauseplay span.pause:hover { 
	background-position: -100px 100%;
}

.vendeirinho-slider .flex-pauseplay { top: 50%; }

/* -- Slider Text Content -- */

.vendeirinho-slider .slider-desc {
    background: #222;
    font-style: italic;
    position: absolute;
    text-align: center;
    left: 2.5%;
    bottom: 10px;
    max-width: 60%;
    color: #eeeeee;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.98);
    background: rgb(98,101,109); /* Old browsers */
    border: 1px solid #000;
    padding: 7px 30px;
    opacity: 0.8;
}
	
.vendeirinho-slider .slider-desc span,
.vendeirinho-slider .slider-desc em { color: #fff; }
 
.vendeirinho-slider .slide-content-container .slide-content {
	background: url(../slide_desc_bg.png);
	position: absolute;
	bottom: 60px;
	left: 0px;
	width: 30%;
	height: 22%;
	padding: 3px;
	color: #8f949d;
	z-index: 100;
}
	
.vendeirinho-slider article {
	border: none;
	color: #8f949d;
	position: relative;
}

.vendeirinho-slider article header {
	padding: 25px;
	height: auto;
 }

.vendeirinho-slider article header h1,
.vendeirinho-slider article header h2,
.vendeirinho-slider article header h3,
.vendeirinho-slider article header h4{
	color: #E6E8EB;
	line-height: 26px;
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 2px;
}

.vendeirinho-slider article .entry {
	line-height: 12px;
	font-size: 13px;
}

.vendeirinho-slider article .entry a { color: #B7B9BC; }
.vendeirinho-slider article .entry a:hover { color: #FFF; }
.vendeirinho-slider article .entry a:active { color: #78a8d5; }