
/*** For Sucky Browsers (targets IE 6 and earlier) ***/

/* png fix */

/* layout, sizing, positioning adjustments */

.one-fourth, .one-third, .two-thirds, .half-page, .full-page {
	margin: 0;
	padding: 0 34px 0 0;}
.half-page { width: 460px; }
.one-fourth { padding: 0 28px 0 0;}
.sidebar { padding: 0 12px; width: 288px; }

.hr { width: 634px; margin: 0 auto 1em; }
.sidebar .hr { width: auto; }

.breadcrumbs { margin-top: 0; }

#SlideNextPrev, .nivo-directionNav { bottom: -1px; }

.sideNav li a	{ zoom: 1; }
.sideNavWrapper	{ margin: 0;}

.blogDate  { margin-right: 8px; }

.portfolioFeatured { margin-left: -7px; }
.portfolioFeaturedItem { margin-left: 0; margin-right: 0; padding-left: 17px; }
.portfolioArea { margin-left: -10px; }
.portfolioItem { margin-left: 0; margin-right: 0; padding-left: 20px; }

#Logo			{ margin-top: -100px; }
#HeaderMiddle	{ overflow: hidden; }

#Showcase .one-third { padding: 0; width: 295px; }

#Footer .one-fourth { width: 200px; padding: 0 15px 0 15px;}

#FooterExtra { zoom: 1; }
#FooterExtra .one-third { width: 270px; }

.hr	{margin-bottom: 0;}

/* style to compensate for image issues */

h2.smallTitle { background:none; border-bottom: 1px solid #D2D4D5; padding-left: 0; padding-bottom: 7px; margin-bottom: 10px; }
.sidebar h2.smallTitle { margin-right: 0; margin-left: 0; }

.featuredItem { background: none; border-bottom: 1px solid #D2D4D5; margin:0 0 1em; padding:0 0 1em; }

/* menu */
li li a .sf-sub-indicator { top: 0.9em; }
.sf-sub-indicator { background-image: url("../images/arrows-ffffff.gif"); }
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }

/* login modal */
#fancy_content .loginForm .hr { margin-bottom: 0;}
#fancy_content .loginForm .signInButton { margin-top: -5px;}

/* top reveal */
#TopReveal { background-image: none; }
#TopReveal .closeBtn {background: transparent url("../images/fancybox/smallClose.png") repeat scroll 0 0;}
