
a:active     {  font-family: Arial; font-size: 10pt; color: #000000}
a:link       {  font-family: Arial; font-size: 10pt; color: #000000}
a:visited    {  font-family: Arial; font-size: 10pt; color: #000000}
body         {  font-family: Arial; font-size: 10pt}
li           {  font-family: Arial; font-size: 10pt}
ol           {  font-family: Arial; font-size: 10pt}
table        {  font-family: Arial; font-size: 10pt}
td           {  font-family: Arial; font-size: 10pt}
ul           {  font-family: Arial; font-size: 10pt}