.site {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: none; text-align: justify; background-color: #000000; border: 1px #FFFFFF solid; cursor: hand}
.link { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFCC99; text-decoration: none }
a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: underline}
.mainmenu {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none}
.zagol {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #FFFFFF}
.content { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: none; text-align: justify}
