<main_menu>
	<menu text="ABOUT US" url_adress="" swf_file="home.swf" />
	<menu text="OUR DOGS" url_adress="" swf_file="about.swf" />
	<menu text="NEWS" url_adress="" swf_file="news.swf" />
	<menu text="GALLERY" url_adress="" swf_file="image_gallery.swf" />
	<menu text="VIDEOS" url_adress="" swf_file="xml_video_playlist.swf" />
	<menu text="LINKS" url_adress="" swf_file="links.swf" />
	<menu text="IN MEMORIAM" url_adress="" swf_file="memoriam.swf" />
	<menu text="CONTACT" url_adress="" swf_file="contact.swf" />
	<menu text="MOUNTAINGARDEN" url_adress="http://www.mountaingarden.nl" swf_file="" />
</main_menu>