body{
	background: url('../images/furley_bg.png');
}
p, li, blockquote{
	font-weight: normal
}
h3, h4, h5, h6{
	color: #7B8285;
}
#main-container{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 25px 20px 25px 0;
}
.center{
	text-align: center;
}
.justify{
	text-align: justify;
}
.text_shadow{
	text-shadow: 0px 0px 3px #555;
}
.div-centered{
	margin: 0 auto;
}
.hero-unit{
	background: none;
}
#table{
	position: fixed;
	padding-top: 0px;
	margin-top: -75px;
	border-right: 1px solid #FFF;
}
#table h3{
	font-size: 14px;
	color: #FFF;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
}
#table a h3:hover{
	padding-left: 12px;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
#table a:hover{
	text-decoration:none;
}
#table a.active{
	padding-left: 12px;
}
#table a{
	display: block;
	padding: 2px 2px 1px 12px;
	border-bottom: solid 1px rgb(37, 37, 37);
	border-left: solid 1px rgb(37, 37, 37);
	border-right: solid 1px rgb(37, 37, 37);
	border-top: 1px solid #707070;
	background: #4f4e4d; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmNGU0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YjViNWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #4f4e4d 0%, #5b5b5b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4e4d), color-stop(100%,#5b5b5b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4f4e4d 0%,#5b5b5b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4f4e4d 0%,#5b5b5b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4f4e4d 0%,#5b5b5b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4f4e4d 0%,#5b5b5b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4e4d', endColorstr='#5b5b5b',GradientType=0 ); /* IE6-8 */

}
#table a:last-child{
	padding-bottom: 5px;
}
 #bio{
	padding-top: 24px;
	float: none;
	display: block;
	height: 93px;
	margin: 0 auto;
 }
 #bio .span2, #bio .span4{
	margin-top: 8px;
 }
 #bio blockquote{
	border: 0;
 }
 section{
	padding-top: 30px;
 }
 .scroller i{
	margin-top: -12px;
	margin-right: 12px;
 }
 .m1{
	margin-top: 24px;
 }
 .m2{
	margin-top: 48px;
 }
 ul.list{
	list-style-image: url('../images/chip_list.png');
 }
 ul.ready{
	list-style-image: url('../images/chip_ok.png');
 }