.sorter h3 {
    margin-right: 20px;
}

.sorter ul.enabled, .sorter ul.disabled {
    min-height: 100px;
}
.enabled-wrapper, .disabled-wrapper{
    width:300px;
    float: left;
    margin-right: 40px;
}