/*
    anythingSlider v1.0
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/
*                                       { margin: 0; padding: 0; }

.anythingSlider                         { width: 220px; height: 252px; position: relative; margin: 0px 0px 0px 1px; }
.anythingSlider .wrapper                { width: 220px; overflow: auto; height: 252px; margin: 0px; position: absolute; top: 0; left: 0; }
.anythingSlider .wrapper ul             { width: 9999px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.anythingSlider ul li                   { display: block; float: left; padding: 0; height: 252px; width: 220px; margin: 0; }
.anythingSlider .arrow                  { display: block; height: 16px; width: 16px; background: url(../images/ad_btns.png) no-repeat 0 0; text-indent: -9999px; position: absolute; top: 215px; left:170px; cursor: pointer; }
.anythingSlider .forward                { background-position: 0px -16px; margin-left:18px; }
.anythingSlider .back                   { background-position: 0px 0px;}

#thumbNav                               { position: relative; top: 323px; text-align: center; display:none; }
#thumbNav a                             { color: black; font: 11px/18px Georgia, Serif; display: inline-block; padding: 2px 8px; height: 18px; margin: 0 5px 0 0; background: #c58b04 url(../../../../../cl102.justhost.com/404.shtml) repeat-x; text-align: center;  }
#thumbNav a:hover                       { background-image: none; }
#thumbNav a.cur                         { background: #e0a213; }

#start-stop                             { background: green; background-image: url(../../../../../cl102.justhost.com/404.shtml); background-repeat: repeat-x; color: white; padding: 2px 5px; width: 40px; text-align: center; position: absolute; right: 45px; top: 323px; display:none; }
#start-stop.playing                     { background-color: red; }
#start-stop:hover                       { background-image: none; }

/*
  Prevents
*/
.anythingSlider .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }