a:link,a:active,a:visited              { color: #454545; font-family: Arial, Verdana, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }
a:hover            { color: #FF00FF; font-family: Arial, Verdana, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: underline }
a      { font-size: 9pt; font-weight: bold; font-family: Arial, Verdana, Helvetica, Geneva, Swiss, SunSans-Regular }
td,tr            { color: #000000; font-size: 9pt; font-family: Arial, Verdana, Helvetica, Geneva, Swiss, SunSans-Regular }
.default           { color: #000000; font-size: 9pt; font-family: Arial, Verdana, Helvetica, Geneva, Swiss, SunSans-Regular }
H1                 { color: #454545; font-size: 14pt; line-height: 14pt; font-family: Arial, Verdana, Helvetica, Geneva, Swiss, SunSans-Regular; margin-top: 14px; margin-left: 10px }
H2                { color: #FF00FF; font-size: 13pt; line-height: 13pt; font-family: Arial, Verdana, Helvetica, Geneva, Swiss, SunSans-Regular; margin-left: 10px }
H3                { color: #FF00FF; font-size: 10pt; line-height: 10pt; font-family: Arial, Verdana, Helvetica, Geneva, Swiss, SunSans-Regular; margin-left: 10px }
ul  { margin-left: 25px }
p  { padding-right: 10px; padding-left: 10px }
