h1 { background: url(../images/black-grey/header-bg.png) repeat-x 0 0; }
#content .article .text { background: #252525 url(../images/black-grey/article-bg.png) repeat-x left top; }

h2, a, .info a:hover, #formReturn, #nav li a:hover, #nav li.active a, #nav li.active ul li a:hover,
#nav li ul li.active a:hover, #sidebar .box:hover h2, #sidebar .box .inner ul li a:hover { color: #000000; }

#content .article p { color: #c5c5c5; }