.wa {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #666666; text-decoration: none}
.news {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
