<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<logo>config/logo.swf</logo>
<music>config/adg3.com_electroFreak.mp3</music>
<contact>
<![CDATA[<b>Address :</b> Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elit<br/><b>Phone :</b> +41 (888) 88 88  <b>E-Mail :</b> your@mail.com HTML TEXT HERE]]>
</contact>