<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
	<bgmusic>config/bgsound.mp3</bgmusic>
	<bgimage>backgrounds/background.swf</bgimage>
	<footer><![CDATA[You can write a footer here , this is dynamic text]]></footer>
	<siteRoot>http://www.triworks.net/flashDen</siteRoot>
	<fullscreen>true</fullscreen>
</config>