



a{
color:#CCCCCC;
}

a:hover{
color:#FFFFFF
text-decoration:none;
}


body{
margin-left:0
margin-right:0
color:#646566;
font-size:8;
font-family:xpdr03;
}

body_bold{
margin-left:0
margin-right:0
color:#646566;
font-size:8;
font-family:xpdr03_bold;
}


head{
margin-left:0
margin-right:0
text-align:left;
font-weight:bold;
color:#FFFFFF;
font-size:18;
font-family:ArialNarrow;
}

head2{
margin-left:0
margin-right:0
text-align:left;
font-weight:bold;
color:#FFFFFF;
font-size:30;
font-family:ArialNarrow;
}



head_newsy{
margin-left:0
margin-right:0
text-align:left;
color:#FFFFFF;
font-size:12;
font-family:ArialNarrow;
}

head_big_newsy{
margin-left:0
margin-right:0
text-align:left;
color:#FFFFFF;
font-size:13;
font-family:ArialNarrow;
}



title{
margin-left:0
margin-right:0
text-align:left;
color:#FFFFFF;
font-size:18;
font-family:ArialNarrow;
}










